BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
BLOCK JTAGPATHS;

LOCATE COMP "rstn_i" SITE "PB4A"; // BOB pin 38
LOCATE COMP "txd_o" SITE "PR24A";
LOCATE COMP "rxd_i" SITE "PR24B";

LOCATE COMP "led_o[0]" SITE "PR7B" ; // BOB pin 97
LOCATE COMP "led_o[1]" SITE "PR7A" ;
LOCATE COMP "led_o[2]" SITE "PR5B" ;
LOCATE COMP "led_o[3]" SITE "PR5A" ;
LOCATE COMP "led_o[4]" SITE "PR3B" ;
LOCATE COMP "led_o[5]" SITE "PR3A" ;
LOCATE COMP "led_o[6]" SITE "PR2B" ;
LOCATE COMP "led_o[7]" SITE "PR2A" ;

IOBUF PORT "rstn_i" PULLMODE=UP;
IOBUF PORT "txd_o" PULLMODE=NONE;
IOBUF PORT "rxd_i" PULLMODE=NONE;

IOBUF PORT "led_o[0]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "led_o[1]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "led_o[2]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "led_o[3]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "led_o[4]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "led_o[5]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "led_o[6]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "led_o[7]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
