<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="ilg.gnumcueclipse.debug.gdbjtag.openocd.launchConfigurationType">
    <booleanAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.connectOnlyMode" value="false"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.svdPath" value="${ProjDirPath}/src/cpu.svd"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug\riscv_mc_helloworld.elf"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="riscv_mc_helloworld"/>
    <booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="true"/>
</launchConfiguration>
